<h1> Boards </h1>
<p><%= link_to 'New Board', 'new_board_path' %></p>
<% @boards.each do |board| %>
  <h2><%= board.title %></h2>
  <%= link_to 'Show Board', board_path(board) %>
  <%= link_to 'Edit Board', edit_board_path(board) %>
  <%= link_to 'Destroy Board', board, method: :delete %>
<% end %>

